<section id="about" class="text-center ct-u-paddingBoth100 section">
    <div class="container">
        <div class="ct-heading text-uppercase ct-u-marginBottom60">
            <h2>About us</h2>
        </div>
        <div class="ct-textBox--section center-block ct-u-marginBottom60">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.
        </div>
        <div class="row">
            <div class="ct-iconBoxContainer center-block">
                <div class="col-md-4">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Responsive</span>
                            <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Innovative</span>
                            <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ct-iconBox">
                        <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="ct-iconBox--description">
                            <span class="ct-title ct-u-marginBottom20 ct-fw-600 text-uppercase">Optimised</span>
                            <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>