<section class="ct-mediaSection ct-u-paddingTop60 ct-u-paddingBottom90 ct-u-text--white" data-stellar-background-ratio="0.2" data-height="350" data-type="parallax" data-bg-image="assets/content/agency-parallax.jpg" data-bg-image-mobile="assets/content/agency-parallax.jpg">
  <div class="ct-mediaSection-inner">
    <div class="container">
      <div class="ct-heading ct-u-marginBottom60 text-center">
        <h3 class="text-uppercase">latest tweets</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="twitterContainer text-center">
            <i class="fa fa-twitter ct-u-marginBottom50"></i>
            <div class="ct-js-twitter ct-twitter"></div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </div>
</section>