<section class="ct-u-paddingBottom60 text-center">
  <div class="container">
    <div class="ct-heading ct-u-marginBoth60">
      <h3 class="text-uppercase">our partners</h3>
    </div>
    <div class="ct-js-owl" data-items="6" data-navigation="false" data-autoPlay="true" data-single="false" data-pagination="false">
      <div class="item"><img src="assets/content/content-partners-1.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-2.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-3.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-4.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-5.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-6.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-1.png" alt=""></div>
      <div class="item"><img src="assets/content/content-partners-2.png" alt=""></div>
    </div>
  </div>
</section>