<section id="portfolio" class="section">
  <div class="ct-mediaSection ct-u-paddingBoth100 ct-u-text--white text-center" data-stellar-background-ratio="0.3" data-height="295" data-type="parallax" data-bg-image="assets/content/portfolio-parallax.jpg" data-bg-image-mobile="assets/content/portfolio-parallax.jpg">
    <div class="container">
      <div class="ct-heading text-uppercase ct-u-marginBottom30">
        <h2>Our work</h2>
      </div>
      <ul class="ct-gallery-filters list-unstyled list-inline">
        <li><a data-filter="*" class="btn btn-default btn-transparent--border ct-u-text--white active">All</a></li>
        <li><a data-filter=".creative" class="btn btn-default btn-transparent--border ct-u-text--white">Creative</a></li>
        <li><a data-filter=".development" class="btn btn-default btn-transparent--border ct-u-text--white">Development</a></li>
        <li><a data-filter=".print" class="btn btn-default btn-transparent--border ct-u-text--white">Print</a></li>
      </ul>
    </div>
  </div>
  <div id="ct-gallery" class="ct-gallery ct-gallery--col4">
    <div class="ct-gallery-item ct-gallery-item--masonry hidden development">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-1.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-1.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden development print creative">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-2.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-2.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden creative">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-3.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-3.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden development">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-4.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-4.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden development">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-5.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-5.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden creative">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-6.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-6.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden print">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-7.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-7.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
    <div class="ct-gallery-item ct-gallery-item--masonry hidden development">
      <div class="ct-gallery-itemInner">
        <a href="assets/content/portfolio-image-8.jpg" class="ct-js-magnificPopupImage">
          <img src="assets/content/portfolio-thumbnail-8.jpg" alt="Portfolio">
          <div class="ct-galleryBox-overlay"></div>
          <div class="ct-hover--text text-uppercase">
            <h4 class="ct-fw-600">Project name goes here</h4>
            <span class="ct-fw-600">Creative</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>