<section id="testimonials" class="ct-js-section ct-u-paddingBoth100 text-center section" data-bg-color="#60a7d4">
  <div class="container">
    <div class="ct-heading ct-u-marginBottom60">
      <h3 class="text-uppercase ct-u-text--white">Testimonials</h3>
    </div>
    <div class="ct-testimonials">
      <div class="row ct-u-marginBottom60">
        <ul class="list-unstyled" role="tablist">
          <li role="presentation" class="col-xs-2 active ct-u-paddingBottom60"><a href="#testimonials-01" role="tab" data-toggle="tab"><img class="img-responsive" draggable="false" src="assets/content/content-testimonials-1.png" alt="Team Member"></a></li>
          <li role="presentation" class="col-xs-2 ct-u-paddingBottom60"><a href="#testimonials-02" role="tab" data-toggle="tab"><img class="img-responsive" src="assets/content/content-testimonials-2.png" alt="Team Member"></a></li>
          <li role="presentation" class="col-xs-2 ct-u-paddingBottom60"><a href="#testimonials-03" role="tab" data-toggle="tab"><img class="img-responsive" draggable="false" src="assets/content/content-testimonials-3.png" alt="Team Member"></a></li>
          <li role="presentation" class="col-xs-2 ct-u-paddingBottom60"><a href="#testimonials-04" role="tab" data-toggle="tab"><img class="img-responsive" src="assets/content/content-testimonials-4.png" alt="Team Member"></a></li>
          <li role="presentation" class="col-xs-2 ct-u-paddingBottom60"><a href="#testimonials-05" role="tab" data-toggle="tab"><img class="img-responsive" draggable="false" src="assets/content/content-testimonials-5.png" alt="Team Member"></a></li>
          <li role="presentation" class="col-xs-2 ct-u-paddingBottom60"><a href="#testimonials-06" role="tab" data-toggle="tab"><img class="img-responsive" src="assets/content/content-testimonials-6.png" alt="Team Member"></a></li>
        </ul>
      </div>
      <div class="tab-content center-block">
        <div role="tabpanel" class="tab-pane row" id="testimonials-01">
          <div class="animated fadeIn">
            <p class="">Totally impressed with Estato. Very easy to use and it really has a lot of features.</p>
            <span class="">John Doe - Company inc.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active row" id="testimonials-02">
          <div class="animated fadeIn">
            <p class="">Estato is exactly what our business has been lacking, impressed me on multiple levels. Estato should be nominated for service of the year.</p>
            <span class="">Anna Ferguson - Company inc.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane row" id="testimonials-03">
          <div class="animated fadeIn">
            <p class="">Estato is the most valuable business resource we have EVER purchased. Great job, I will definitely be ordering again!</p>
            <span class="">Jane Foster - Company inc.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane row" id="testimonials-04">
          <div class="animated fadeIn">
            <p class=" ct-u-marginBottom0">Thanks for the great service. Estato is both attractive and highly adaptable. I will recommend you to my colleagues.</p>
            <span class="">Raine Doe - Company inc.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane row" id="testimonials-05">
          <div class="animated fadeIn">
            <p class="">I didn't even need training. Estato has completely surpassed our expectations, surpassed our expectations. We were treated like royalty.</p>
            <span class="">Alvera  Foster - Company inc.</span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane row" id="testimonials-06">
          <div class=" animated fadeIn">
            <p class="">Estato is worth much more than I paid. If you want real marketing that works and effective implementation - Estato's got you covered</p>
            <span class="">Morena Doe - Company inc.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>