<section id="whyus" class="ct-mediaSection text-center ct-u-paddingBoth100" data-stellar-background-ratio="0.3" data-height="765" data-type="parallax" data-bg-image="assets/content/iconBox-parallax.jpg" data-bg-image-mobile="assets/content/iconBox-parallax.jpg">
  <div class="ct-mediaSection-inner">
    <div class="container">
      <div class="ct-heading ct-u-marginBottom60">
        <h3 class="text-uppercase ct-u-text--white">Why estato?</h3>
      </div>
      <div class="ct-decoration center-block ct-u-marginBottom60">
        <div class="ct-decoration--inner center-block"></div>
      </div>
      <div class="row ct-u-text--white">
        <div class="col-sm-6 col-md-3">
          <div class="ct-iconBox">
            <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
              <i class="fa fa-bolt"></i>
            </div>
            <div class="ct-iconBox--description">
              <span class="ct-title ct-u-marginBottom20 ct-fw-600">Powerfull</span>
              <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="ct-iconBox">
            <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
              <i class="fa fa-users"></i>
            </div>
            <div class="ct-iconBox--description">
              <span class="ct-title ct-u-marginBottom20 ct-fw-600">User Oriented</span>
              <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="ct-iconBox">
            <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
              <i class="fa fa-heart-o"></i>
            </div>
            <div class="ct-iconBox--description">
              <span class="ct-title ct-u-marginBottom20 ct-fw-600">Beautiful</span>
              <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="ct-iconBox">
            <div class="ct-icon ct-iconContainer--circle ct-iconContainer--circleHoverLight center-block ct-u-marginBottom30">
              <i class="fa fa-life-ring"></i>
            </div>
            <div class="ct-iconBox--description">
              <span class="ct-title ct-u-marginBottom20 ct-fw-600">Fast support</span>
              <span class="ct-text ct-u-marginBottom20">Estato is designed a way that it was flexible for different types of business.</span>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary btn-transparent--border ct-u-text--motive ct-u-marginTop80" href="">More Reasons to Buy Estato</a>
    </div>
  </div>
</section>