%h1 New item
.form-group
  .ct-form-content
    .row.text-center
      .col-md-12
        %h3.text-uppercase Please select all the services that your salon provides.
.clear-40
.row
  .col-md-6
    = render 'form'
  .col-md-6
    - @items.each  do |i|
      %ul
        %li
          = i.prices
        %li
          = i.discount
        %li
          = i.description


          -#= link_to 'Back', items_path
