<footer id="contact" class="section">
    <div class="ct-footer--extended">
        <div class="ct-leftColumn pull-left">
            <form role="form" action="assets/form/send.php" method="post" class="contactForm validateIt ct-formContact--map ct-form--darkStyle" data-email-subject="Contact Form" data-show-errors="true">
                <div class="form-group">
                    <div class="ct-form--label--type2">
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-input-group-btn">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-envelope-o"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell text-center">
                                <span class="text-uppercase">Send us a message</span>
                            </div>
                        </div>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom20">
                        <label>Your Name</label>
                        <input id="contact_name" name="field[]" type="text" required class="form-control input-lg" placeholder="">
                    </div>
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Phone</label>
                                <input id="contact_phone" type="text" required class="form-control input-lg" placeholder="">
                            </div>
                        </div>
                        <div class="ct-u-displayTableCell">
                            <div class="ct-form--item ct-u-marginBottom20">
                                <label>Email</label>
                                <input id="contact_email" name="field[]" type="email" required class="form-control input-lg" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom20">
                        <label>Choose Topic</label>
                        <select class="ct-js-select ct-select-lg">
                            <option value="general">General Inquiries</option>
                            <option value="misc">Misc</option>
                        </select>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom20">
                        <label>Message</label>
                        <textarea id="contact_message" placeholder="How can we help you?" class="form-control input-lg" rows="4" name="field[]" required=""></textarea>
                    </div>
                    <div class="ct-form--item">
                        <button type="submit" class="btn btn-warning center-block">Send Message</button>
                    </div>
                </div>
            </form>
            <div class="ct-js-googleMap ct-googleMap ct-js-googleMap--single" data-location="Richmond" data-icon="assets/images/marker-house.png" data-zoom="14" data-height="865" data-offset="-275" id="map"></div>
        </div>
        <div class="ct-rightColumn pull-right">
            <img class="ct-u-marginBottom70" src="assets/images/content/logo-headerOnepager.png" alt="">
            <div class="ct-heading text-uppercase ct-u-marginBottom30">
                <h2>Our work</h2>
            </div>
            <ul class="list-unstyled ct-phoneNumbers ct-u-marginBottom30">
                <li>
                    <i class="fa fa-phone"></i>
                    <span class="ct-fw-600">0 800 123 4567</span>
                </li>
                <li>
                    <i class="fa fa-fax"></i>
                    <span class="ct-fw-600">0 800 123 4562</span>
                </li>
                <li>
                    <i class="fa fa-mobile"></i>
                    <span class="ct-fw-600">+1 500 700 800</span>
                </li>
            </ul>
            <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled ct-u-marginBottom30">
                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                <li><a href="#" data-toggle="tooltip"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
            </ul>
            <div class="ct-contactList ">
                <a href="#"><i class="fa fa-envelope-o"></i>questions@estato.com</a>
                <a href="#"><i class="fa fa-envelope-o"></i>sales@estato.com</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="ct-postFooter ct-u-paddingBoth20">
        <a href="#" class="ct-scrollUpButton ct-js-btnScrollUp">
           <span class="ct-sectioButton--square">
               <i class="fa fa-angle-double-up"></i>
           </span>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-sm-push-6">
                    <div class="ct-newsletter text-right">
                        <span class="text-uppercase ct-u-text--white ct-fw-600">Join our newsletter</span>
                        <input id="newsletter" placeholder="Your E-mail Address" required type="text" name="field[]" class="form-control input-lg">
                        <button type="submit" class="btn btn-primary btn-transparent--border ct-u-text--motive text-capitalize">Subscribe</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-pull-6">
                    <span class="ct-copyright">&copy; 2015 Estato. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>