<nav class="navbar ct-navbar--hoverEffectLine" role="navigation" data-heighttopbar="40px" data-startnavbar="0">
    <div class="container">
        <div class="navbar-header ct-panel--navbar">
            <a href="index.html">
                <%= image_tag("content/logo-onepager.png", alt: "logo")%>
            </a>
        </div>
        <div class="ct-panelBox">
            <div class="ct-panel--text ct-panel--navbar ct-fw-600"><a href="#">0 800 123 4567</a></div>
            <ul class="ct-panel--socials ct-panel--navbar list-inline list-unstyled">
                <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse text-uppercase">
            <ul class="nav navbar-nav ct-navbar--fadeInUp">
                <li class="onepage active"><a href="#home">Home</a></li>
                <li class="onepage"><a href="#about">About Us</a></li>
                <li class="onepage"><a href="#portfolio">Our work</a></li>
                <li class="onepage"><a href="#whyus">Why us?</a></li>
                <li class="onepage"><a href="#testimonials">testimonials</a></li>
                <li class="onepage"><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="ct-shapeBottom"></div>
    </div>
</nav>